<h1>Page Content</h1>

<ul class="content-list">
    {% for item in contents %}
        <li class="content-item">
            <h2>{{ item.title }}</h2>
            <p>{{ item.content }}</p>
            <a href="{{ path('page_edit_single', {'id': item.id}) }}" class="button edit">Edit</a>
        </li>
    {% else %}
        <li>No content found.</li>
    {% endfor %}
</ul>
